body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    
    height: 80px;
    align-items: center;
}

h4 {
    font-size: 26px;
    letter-spacing: 2px;
}

nav {
    width: 40%;
    display: flex;
}

a {
    width: 33.33%;
    text-align: center;
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(162, 0, 255);
    transition: 450ms;
}

.menu {
    display: flex;
    align-items: center;
    width: 28%;
}

.menu input {
    padding: 10px;
    border-radius: 20px;
    margin-right: 8px;
    border: 2px solid #ccc;
}

.language {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}
.language img {
    width: 35px;
}

.icons {
    width: 55%;
    display: flex;
    justify-content: center;
}

.icons img {
    width: 30px;
    margin-left: 30px;
}

.popup {
    background-color: orangered;
    color: white;
    border-radius: 10px;
    padding: 2px 8px;
    margin-left: 10px;
    font-size: 12px;
}

.slogan {
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 40pt;
}

.slogan h1 {
    width: 50%;
    text-align: center;
    background: linear-gradient(to right, #DC7B92, #8270E4, #1C1C28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

.button {
    padding-left: 35px;
    border-radius: 40px;
    height: 95px;
    font-size: 30px;
    width: 25%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    background: linear-gradient(to left, #DC7B92, #8270E4, #1C1C28);
    cursor: pointer;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle img{
    width: 25px;
}